.div3 {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 1.6;
  text-align: left;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 1.6;
  text-align: left;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 1.6;
  text-align: left;
  padding: 10px;
  margin: 10;
}

button {
  cursor: pointer;
}
